<div class="row custum-border">
    <div class="col-2 border-right">
        <p>Chaise : {{voiture.chaise}}</p>
        <p>Place libre : </p>
        <p>Place reservé : </p>
    </div>
    <div class="col-4 border-right">
        <p>Trajet : {{voiture.trajet}}</p>
        <p>Départ : {{voiture.depart}}</p>
        <p>Arrivé : {{voiture.arriver}}</p>
    </div>
    <div class="col-6">
        <div *ngFor="let map of mapPlaces | keyvalue">
            <div *ngIf="map.key === voiture.id">
                <div *ngFor="let p, index as index of mapPlaces.get(map.key)" class="row">
                    <span *ngFor="let s of mapIdPlace.get(map.key)">{{s}}</span>
                    <div class="m-2 col-2">
                        <button type="button" [ngClass]="p.libre ? 'btn btn-secondary' : 'btn btn-success'">
                            <span><i class="fa-solid fa-chair"></i>{{p.numero}}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>