<div class="row card-text">
    <div class="col-4">
        <p>Chaise : {{voiture.chaise}}</p>
        <p>Place libre : {{getTotalPlaceLibre()}}</p>
        <p>Place reservé : {{getPlaceReserver()}}</p>
    </div>
    <div class="col-5">
        <p>Départ : {{voyage.depart}}</p>
        <p>Arrivé : {{voyage.arrive}}</p>
        <p>Prix : {{voyage.prix}}</p>
    </div>
    <div class="col-3">
        <div class="container mb-2 p-2">
            <div class="row custum-border p-2 mb-2">
                <div *ngFor="let p of voiture.places; let i = index" class="col-3">
                    <div class="mb-1" data-toggle="popover" data-placement="top"
                        [title]="p.libre ? 'Place libre': 'Client : ' + p.client.nom +'\nAdresse : ' + p.client.adresse +'\nTéléphone : ' + p.client.numeroTel +'\nE-mail : ' + p.client.email">
                        <button type="button"
                            [ngClass]="p.libre ? 'btn btn-success bg-chaise small-text' : 'btn btn-danger bg-chaise small-text'"
                            (click)="reserverPlace(p, voiture)">{{p.numero}}
                        </button>
                    </div>
                    <span *ngIf="i % 4 === 3" class="w-100"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <button type="button" class="btn btn-danger" (click)="annulerReservation()">Annuler</button>
                </div>
                <div class="col-6">
                    <button type="button" class="btn btn-success" data-bs-toggle="modal"
                        [attr.data-bs-target]="'#modal' + voyage.id + voiture.id">Valider</button>
                </div>
            </div>
            <app-validation-reservation-modal [places]="places" [voiture]="voiture" [voyage]="voyage"
                [idModal]="'modal' + voyage.id + voiture.id"></app-validation-reservation-modal>
        </div>
    </div>
</div>