<div class="row m-2 bg-info py-2">
    <div class="col-4">
        <label for="depart" class="form-label">Départ</label>
        <select id="depart" name="depart" [(ngModel)]="depart" class="form-select form-select-sm"
            aria-label="Small select example">
            <option value="">Sélectionnez le lieu de départ</option>
            <option value="Antananarivo">Antananarivo</option>
            <option value="Majunga">Majunga</option>
            <option value="Toliar">Toliar</option>
            <option value="Fianarantsoa">Fianarantsoa</option>
            <option value="Anstirabe">Anstirabe</option>
        </select>
    </div>

    <div class="col-4">
        <label for="arrive" class="form-label">Arrivé</label>
        <select id="arrive" name="arrive" [(ngModel)]="arrive" class="form-select form-select-sm"
            aria-label="Small select example">
            <option value="">Sélectionnez le lieu d'arrivée</option>
            <option value="Antananarivo">Antananarivo</option>
            <option value="Majunga">Majunga</option>
            <option value="Toliar">Toliar</option>
            <option value="Fianarantsoa">Fianarantsoa</option>
            <option value="Anstirabe">Anstirabe</option>
        </select>
    </div>

    <div class="col-2">
        <label for="datevoyage" class="form-label">Date du voyage</label>
        <input type="date" class="form-control form-control-sm" id="datevoyage" name="date" [(ngModel)]="date"
            placeholder="Date du voyage">
    </div>
    <div class="col-2 pt-4">
        <span class="form-label"></span>
        <button type="button" class="btn btn-success" (click)="filterVoyage()">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </div>
</div>
<div class="row mx-3 mt-2">
    <div class="col-6">
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col-2 text-center bg-danger text-white bg-chaise custum-border">
                        <span></span>
                    </div>
                    <div class="col-10">
                        <h5>Place résérvé</h5>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-2 text-center bg-success bg-chaise text-white custum-border">
                        <span></span>
                    </div>
                    <div class="col-10">
                        <h5>Place libre</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>
<div class="p-2" *ngFor="let vyg of voyages">
    <div class="col p-2 mx-3" *ngFor="let vtr of vyg.voitures">
        <h3>{{vtr.type}}</h3>
        <app-detail-voiture [voiture]="vtr" [voyage]="vyg"></app-detail-voiture>
    </div>
</div>